.sideLeft {
  display: none;
  margin-left: 8px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 75px;
}

div.firstCard {
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: rgba(23, 23, 23, 0.05) 0px 0px 0px 1px;
  box-sizing: border-box;
  color: rgb(64, 64, 64);
  display: block;
  padding: 16px;
  width: 218.562px;
}

h2.subtitleCard {
  box-sizing: border-box;
  color: rgb(36, 36, 36);
  display: block;
  font-size: 20px;
  font-weight: 700;
  height: 100px;
  line-height: 25px;
  margin: 16px 0px 16px 0px;
  text-size-adjust: 100%;
  width: 186.562px;
}

p.subtitle {
  color: rgb(87, 87, 87);
  font-size: 16px;
  height: 96px;
  margin: 16px 0px, 16px 0px;
  width: 186.562px;
}

a.createLink {
  background-color: transparent;
  border-bottom: 1px solid rgb(59, 73, 223);
  border-radius: 6px;
  color: rgb(59, 73, 223);
  display: inline-flex;
  cursor: pointer;
  justify-content: center;
  height: 40px;
  margin-bottom: 4px;
  overflow-wrap: normal;
  position: relative;
  text-align: center;
  width: 186.562px;
}

a.createLink:hover {
  background-color: rgb(59, 73, 223);
  color: white;
  text-decoration: underline;
  transition: 0.5s;
}

a.logLink {
  background-color: transparent;
  border-radius: 6px;
  box-sizing: border-box;
  color: rgb(64, 64, 64);
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 40px;
  max-width: 100%;
  margin-bottom: 4px;
  overflow-wrap: normal;
  padding: 7px 15px 7px 15px;
  position: relative;
  text-align: center;
  width: 186.562px;
}

a.logLink:hover {
  background-color: rgb(188, 192, 237);
  color: blue;
  text-decoration: underline;
  transition: 0.5s;
}

a.lnk {
  margin: 16px 0 16px 0;
  text-size-adjust: 100%;
  list-style-image: none;
  list-style-position: outside;
  color: rgb(64, 64, 64);
}

a.lnk:hover {
  transition: 1s;
  background-color: rgb(188, 192, 237);
  color: blue;
  text-decoration: underline;
  border-radius: 6px;
}

nav.otherNav {
  box-sizing: border-box;
  display: block;
  height: 160px;
  margin: 16px;
}

.h2.otherNavBar {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  margin: 0;
  padding: 8px 0 8px 12px;
}

a.olnks {
  color: rgb(36, 36, 36);
  font-size: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a.olnks:hover {
  transition: 1s;
  background-color: rgb(188, 192, 237);
  color: blue;
  text-decoration: underline;
  border-radius: 6px;
}

div.flexJustify {
  display: flex;
  height: 40px;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 16px;
  padding: 8px;
  position: relative;
}

a.rrss:hover {
  transition: 1s;
  background-color: rgb(188, 192, 237);
  color: blue;
  text-decoration: underline;
  border-radius: 6px;
}

nav.popularTags {
  padding: 8px;
  margin-bottom: 24px;
}

h3.popTags {
  color: black;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  margin: 0;
  padding: 8px;
}

a.c-link {
  color: rgb(64, 64, 64);
}

div.sideNavElement {
  font-style: normal;
  overflow-wrap: normal;
  padding: 8px 16px 8px 16px;
}

div.sideNavElement:hover {
  border-radius: 6px;
  background-color: rgb(188, 192, 237);
  color: blue;
  text-decoration: underline;
  transition: 0.5s;
}

div.lastCard {
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: rgba(23, 23, 23, 0.05) 0px 0px 0px 1px;
  color: rgb(64, 64, 64);
  display: block;
  font-size: 16px;
  height: 427px;
  line-height: 24px;
  padding: 12px 4px 4px 4px;
  width: 218.562px;
}

h2.lasth2 {
  color: rgb(64, 64, 64);
  font-size: 24px;
  font-weight: 700;
  height: 120px;
  margin: 0 0 9px 0;
  padding: 0;
  overflow-wrap: break-word;
  width: 186.562px;
}

p.lastp {
  color: rgb(64, 64, 64);
  font-size: 16px;
  height: 282px;
  margin: 0;
  overflow-wrap: break-word;
  width: 186.562px;
}

a.endingButton {
  background-color: transparent;
  border-bottom: 1px solid rgb(59, 73, 223);
  border-radius: 6px;
  color: rgb(59, 73, 223);
  display: block;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 42px;
  justify-content: center;

  overflow-wrap: normal;
  padding: 8px 16px 8px 16px;
  position: relative;
  text-align: center;
  width: 186.562px;
}

a.endingButton:hover {
  background-color: rgb(59, 73, 223);
  color: white;
  text-decoration: underline;
  transition: 0.5s;
}

header {
  background: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 64px;
  z-index: 2;
}

.header .logo {
  justify-content: flex-start;
  cursor: pointer;
}

.nav {
  padding: 8px;
  margin: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 55%;
}

.clickhere{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.lupita {
  margin: 8px;
}

.buttonLogIn {
  background-color: azure; /*same color header*/
  border: none;
  border-radius: 4px;
  color: rgb(59, 57, 57); /*grey - black */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition: all 0.3 ease;
  display: none;
  margin: 8px;
}
.buttonLogIn:hover {
  background-color: rgb(124, 170, 170);
  text-decoration: underline;
}

.buttonCreateAccount {
  background-color: white; /*same color than header*/
  border: 1px solid;
  border-radius: 4px;
  color: rgb(21, 21, 194); /*grey - black */
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition: all 0.3 ease;
  cursor: pointer;
  justify-content: flex-end;
}

.buttonCreateAccount:hover {
  background-color: rgb(21, 21, 194);
  text-decoration: underline;
  color: azure;
}

input {
  display: none;
}

.logo {
  padding: 8px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.burguer{
  margin: 8px;
}

.logotype{
  margin: 8px;
}

.searchInput{
  margin: 8px;
}

.crayons-icon {
  background-color: white;
  transition: all 0.3 ease;
}

.crayons-icon:hover {
  background-color: rgb(209, 201, 245);
  border-radius: 4px;
}
body {
    background-color: rgb(239, 243, 245);
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.topMain {
    margin: 0px;
    display: flex;
}

.pestañasMain{
    padding: 8px;
    margin: 8px;
}

.relevant {
    font-weight: bold;
}

.relevant:hover {
    font-weight: bold;
    background-color: white;
    color: blue;
    border-radius: 8px;
    cursor: pointer;
}

.latestTop:hover {
    color: blue;
    cursor: pointer;
}

.cardOne {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 8px;
}

.image{
    width: 100%;
    cursor: pointer;
    border-radius: 8px 8px 0 0;
}

.cardImage {
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.profile {
    font-size: small;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imageProfile {
    width: 32px;
    border-radius: 100%;
    margin: 8px 0px 8px 8px;
    padding: 8px;
    cursor: pointer;
}

.nameProfile {
    font-weight: bold;
    cursor: pointer;
}

.profileText{
    display: flex;
    flex-direction: column;
    margin: 8px;
    color: rgb(109, 100, 100);
    cursor: pointer;
}

.titleCard {
    margin: 0 16px 0 16px;
    font-size: larger;
}

.titleCard:hover{
    color: blue;
    cursor: pointer;
}

.hashtagCards {
    font-size: small;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(109, 100, 100);
}

.tag {
    margin: 8px;
    padding: 8px;
}

.writing:hover  {
    border: solid 1px rgb(199, 240, 240);
    background-color: rgb(236, 247, 247);
    border-radius: 8px;
    cursor: pointer;
}

.career:hover  {
    border: solid 1px rgb(240, 202, 240);
    background-color:rgb(247, 228, 247);
    border-radius: 8px;
    cursor: pointer;
}

.beginners:hover {
    border: solid 1px rgb(187, 238, 187);
    background-color: rgb(232, 248, 232);
    border-radius: 8px;
    cursor: pointer;
}

.ai:hover  {
    border: solid 1px rgb(240, 202, 240);
    background-color:rgb(247, 228, 247);
    border-radius: 8px;
    cursor: pointer;
}

.crayonsStoryBottom {
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 8px 8px 16px;
    align-items: center;
    color: rgb(109, 100, 100);
}

.crayonsAccount {
    padding: 8px;
    cursor: pointer;
}

.comments {
    margin: 8px 8px 8px 16px;
    cursor: pointer;
}

.readtime {
    margin: 8px 8px 8px 16px;
    cursor: pointer;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* secondCard*/

.cardTwo {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    margin-top: 16px;
}

.subTitleSecondCard {
    color: rgb(109, 100, 100);
    font-size: small;
}

.secondCardContainer {
    width: 100%;

}

.imageSecondCard {
    width: 100%;
    border-radius: 8px;
}

.titleSecondCard {
    font-size: larger;
}

.startNow {
    color: blue;
    font-weight: bolder;
}

/* users*/

.cardUsers {
    background-color: white;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    margin-top: 16px;
}

.imageProfileUsers {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 8px;
    cursor: pointer;
}

.titleThirdCard {
    font-size: larger;
    margin: 8px 0 8px 0;
}

.tagTwo {
    padding: 8px;
}

.crayonsStoryBottomTwo {
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(109, 100, 100);
}

@media screen and (min-width: 767px) {
  .sideLeft {
      display: block;
    }
    input {
      display: block;
    }
    .logo{
      width: 50%;
    }

    .buttonLogIn{
      display: block;
    }
  }

  @media (min-width: 1020px) {
  
    .asideDerecho{
      display: block;
    }
  }
  